@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:mediumpurple" class="display-4"><strong>Kümbüthane</strong></h1>
    <h1 style="color:mediumpurple" class="display-4">Kütüphane Web Uygulaması</h1>
    <br />
    <br />
    <p><img src="/img/library-book-bookshelf-read.jpg" /></p>

</div>
