@{
    ViewData["Title"] = "İletişim Bilgileri";
}


<div class="text-center">
    <br/>
    <br />
<h2 style="color:mediumpurple" >@ViewData["Title"]</h2>

<br/>
<br />
<h3>X Sokak X Mahalle NO.X</h3>
<h3>Ankara</h3>
    <br />
<h3><a href="xyxyxy@gmail.com">Eposta Gönder</a></h3>
</div>